﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>Описание</h2>


<address>
    Программа была написана 22.03.2020
    Начал писать ее 20.03.2020
    Далее заливал ее на сайт где-то 3 дня, были проблемы с базой данных 
    И улучшал ее в течении 4 дней, а это всплывающее окна, небольшие баги.
    В принципе я знаю минусы программы готов с вами их обсудить
    <p>
        Перечисленный функционал в предоставленном мне файле был реализован, до сегодняшнего времени программа не тестировалась другими пользователями
        с точностью сказать нельзя что проект работает корректно.
    </p>
    <strong>Формулировка задачи:</strong>
    <p>
        Нужно реализовать учёт книг в офисе с помощью веб-интерфейса.

        Т.е. есть некая админка, где можно добавлять книжки, фотку обложки. В этой же админке можно управлять читателями библиотеки.

        У всех работников компании (читателей) есть свои аккаунты. Админ библиотеки отмечает, кому он выдал книжку и когда. Другие читатели видят содержимое

        библиотеки, видят у кого в данный момент книжка. Если она свободна — могут ее взять себе (Админ отмечает, что книжка у него). Когда читатель возвращает книжку, админ тоже отмечает этот факт в админке.
    </p>
    <strong>Документация в Word:</strong>
    <a href="https://yadi.sk/i/Vj8BXfuiuRhOPA" download="">Документация</a>
</address>