﻿@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>
<address>
    <strong>Support:</strong>   <a href="https://vk.com/chenchichen">Так же я ВК</a><br />
    <strong>Моя почта:</strong> <a href="">11051969dahul@mail.ru </a>
    <p>Буду очень рад работать на вас </p>
</address>