﻿@{
    ViewBag.Title = "Home Page";
}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="https://s1.1zoom.ru/big0/973/Harry_Potter_Castles_Fantastic_world_Hogwarts_516177_1280x764.jpg" alt="ASP.NET" class="img-responsive"  />
            <div class="carousel-caption" role="option" style="  font-size: 30px">
                <p>
                    У нас есть вся коллекция книг Гарри поттер
                </p>
            </div>
        </div>
        <div class="item">
            <img src="https://s1.1zoom.ru/big0/254/257839-Sepik.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option" style="  font-size: 30px">
                <p>
                    Если вы еще не зарегистрировались нажмите кнопку в правом верхнем углу
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>





<div class="row">


</div>