﻿@model int

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Подтвердить действие</h4>
    </div>
    <div class="modal-body">

        @Html.ActionLink("Удалить", "Delete", new { Id = Model })
        </div>
</div>