﻿@model WebApp.Models.Book

@{
    ViewBag.Title = "Details";
}

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h2>Подробнее о книге "@Model.Name"</h2>
        <form>
            <hr />
            <dl class="dl-horizontal left">
                <dt>
                    @Html.DisplayNameFor(model => model.URl)
                </dt>

                <dd>
                    <img class="pull-left" src=@Model.URl width="200" />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Author)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Author)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateOfEditions)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DateOfEditions)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateTimeOfBegin)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DateTimeOfBegin)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.User)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.User)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PastUsers);
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PastUsers);
                </dd>
            </dl>
        </form>

        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>