﻿@model IEnumerable<WebApp.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2 class="h1">Наши книги</h2>

<p>
    @if (User.Identity.Name == "11051969dahul@mail.ru")
    {
        @Html.ActionLink("Добавить Новую", "Create", new { id = 1 }, new { @class = "comItem" })
    }
</p>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
@Html.ValidationMessage("", new { @class = "text-danger" })
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfEditions)
        </th>
        <th>
            <text>Email</text>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.URl)
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfEditions)
            </td>
            <td>
                @if (item.User != null)
                {
                    @Html.DisplayFor(modelItem => item.User);
                }
                else
                {
                    <text>Книга в библиотеке</text>
                }
            </td>
            <td>
                <img src=@item.URl width="100" alt="Sample Photo">
            </td>
            <td>
                @Html.ActionLink("Подробнее", "Details", new { id = item.Id }, new { @class="comItem" }) |
                @if (User.Identity.Name == "11051969dahul@mail.ru")
                {
                    @Html.ActionLink("Вернули книгу", "TakeBackBook", new { id = item.Id })<text>|</text>
                    @Html.ActionLink("Указать пользователя", "UserIndicate", new { id = item.Id }, new { @class = "comItem" }) <text>|</text>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }, new { @class = "comItem" }) <text>|</text>
                    @Html.ActionLink("Удалить", "Confirmation",
                   new { id = item.Id }, new { @class = "comItem" })
                }
            </td>
        </tr>
    }
</table>


@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".comItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })

    </script>
}

