﻿@using WebApp.Models;
@model ApplicationUser
@{
    ViewBag.Title = "DeleteStudent";
}

<h2>DeleteStudent</h2>
<div>
    @if (Model != null)
    {
    <p>
        @Model.Email был успешно удален 
    </p>
    }
    else
    {
        <p>Пользователь не удален у него есть книги</p>
    }
</div>