﻿@using WebApp.Models;
@model List<ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2>Список студентов </h2>

@using (Html.BeginForm("DeleteStudent", "Student", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                Имя
            </th>
            <th>
                Кол-во книг
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(o => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(o => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(o => item.Count)
                </td>
      
                <td>
                    @Html.ActionLink("Подробнее","Info", new { id = item.Id })
                    @Html.ActionLink("Отчислить", "DeleteStudent", new { id = item.Id })
                </td>
            </tr>

        }
    </table>

}
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
