﻿@model IEnumerable<WebApp.Models.Book>

@{
    ViewBag.Title = "Info";
}

<h2>Информация о книгах пользователя </h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfEditions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PastUsers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeOfBegin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.URl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfEditions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PastUsers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTimeOfBegin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User)
        </td>
        <td>
            <img src="@item.URl" alt="Фото" width=150 />
        </td>
    </tr>
}

</table>
