﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

jumbotron.ANew{
   background: url(https://upload.wikimedia.org/wikipedia/ru/thumb/f/f4/Harry_Potter_and_the_Deathly_Hallows._Part_2_%E2%80%94_movie.jpg/203px-Harry_Potter_and_the_Deathly_Hallows._Part_2_%E2%80%94_movie.jpg) no-repeat center center fixed;
   background-size: cover;
   opacity: 0.6;
}
